body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./Images/Cusco.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.inLine{
    display: inline-block;
    width: 100%;
    background-color: white;
    color: black
}

.frontEnd {
    width: 19%;
    font-size: 30px;
    display: inline-block;
}

header {
    background-color: lightcoral
}