body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./Images/Cusco.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.inLine{
    text-align: center;
    display: inline-block;
}
header {
    background-color: lightcoral
}